<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html>
<head>
    <title>Flashcard |     {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}old/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}old/base.css" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_PREFIX }}old/firebug.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}old/jquery-1.7.1.min.js"></script>
    {% block external %}{% endblock %}
</head>
<body>
<div id="nav">
    <a href="/">home</a> |
    {% if user.is_authenticated %}
    <a href="/flashcard/add">add</a> |
    <a href="/user/{{ user.username }}/">{{ user.username }}</a> |
    <a href="/accounts/logout/">logout</a>
    {% else %}
    <a href="/accounts/login/">login</a> |
    <a href="/accounts/register/">register</a>
    {% endif %}
</div>
<div class='body'>{% block content %}{% endblock %}</div>
</body>
</html>
