{% extends "base_iframe.html" %}
{% block content %}
<form action="." id='inform' method="POST">{% csrf_token %}
<div class="table inform inhelp">
    <div class="toprow"><div class="title">Edit Account</div></div>
    {% for form in form1 %}
    <div class="row alt text {% if form.errors %}error{% endif %}">
        <div class="name ">{{ form.label }}</div>
        <div class="field" style="">{{ form }}</div>
        <div class="help">
            {% if form.errors %}{% for error in form.errors %}{{ error }}{% endfor %}{% else %}{{ form.help_text }}{% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="table inform inhelp">
    <div class="toprow"><div class="title">New Password</div></div>
    {% for form in form2 %}
        <div class="row alt text {% if form.errors %}error{% endif %}">
            <div class="name ">{{ form.label }}</div>
            <div class="field" style="">{{ form }}</div>
            <div class="help">
                {% if form.errors %}{% for error in form.errors %}{{ error }}{% endfor %}{% else %}{{ form.help_text }}{% endif %}
            </div>
        </div>
    {% endfor %}
</div>

    <div class="row  submit">
        <div class="name">&nbsp;</div>
        <div class="field">
            <input type="submit" name="submit" value="Submit" id="formsubmit" class="submit">
        </div>
    </div>
</form>
{% endblock %}