{% extends "base_index.html" %}
{% block content %}
    <form method="post" action="." id='inform'>{% csrf_token %}
        <div class='table inform smallform'>
            {% include 'forms.html' %}
            <div class="row  submit">
                <div class="name"> </div>
                <div class="field"> <input class="submit" type="submit" value="Submit" /></div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
{% endblock %}
